<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta charset="utf8">
    <base href="/">
    <title>Angular Express MongoDB Bootstrap NotyJS Seed App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>

    <div id="app-container" ng-view></div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>

    <script type="text/javascript" src="bower_components/cryptojslib/rollups/pbkdf2.js"></script>

    <script type="text/javascript" src="bower_components/noty/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="bower_components/noty/js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="bower_components/noty/js/noty/themes/default.js"></script>

    <script type='text/javascript' src='bower_components/angular-local-storage/angular-local-storage.js'></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>


    <!--<script src="js/app.js"></script>

    <script src="js/controllers.js"></script>


    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>-->

</body>
</html>