<div ng-include src="'partials/nav.html'"></div>
<div ng-include src="'partials/header.html'"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">Person</div>

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">

                        <form ng-submit="vm.createPerson()" role="form" class="form-inline">
                            <fieldset>
                                <legend>Add new Person</legend>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.person.name" placeholder="Type name of person..." required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" ng-model="vm.person.age" placeholder="Tpe age of person..." required>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Add"/>
                            </fieldset>
                        </form>

                    </div>

                </div>

                <br>
                <br>



            </div>
        </div>

    </div>
</div>